Ejercicio_01.json
[
    {
        "id": "9d8595cb74f8f60c",
        "type": "tab",
        "label": "Ejercicio 01",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b239835b0380845a",
        "type": "mqtt in",
        "z": "9d8595cb74f8f60c",
        "name": "iot/temperatura",
        "topic": "iot/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ce773c8e3c9292ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 200,
        "wires": [
            [
                "c765c1f7019bd8f8",
                "dbab1e19fbfadb18",
                "242ca94918cd3be2"
            ]
        ]
    },
    {
        "id": "c765c1f7019bd8f8",
        "type": "function",
        "z": "9d8595cb74f8f60c",
        "name": "Insertar",
        "func": "if (msg.topic === \"iot/temperatura\" && ! isNaN(msg.payload)){\n    msg.topic = \"INSERT INTO tbl_temperatura(temperatura, descripcion)\"\n+ \"VALUES(\" + msg.payload + \", 'Inserccion desde MQTT')\";\n}else{\n    msg.topic = \"\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "eff0c568be05f75b"
            ]
        ]
    },
    {
        "id": "eff0c568be05f75b",
        "type": "mysql",
        "z": "9d8595cb74f8f60c",
        "mydb": "b8d6056200d393c4",
        "name": "Base de satos",
        "x": 620,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "dbab1e19fbfadb18",
        "type": "ui_gauge",
        "z": "9d8595cb74f8f60c",
        "name": "temperatura",
        "group": "867dd81ec87ba19d",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Cambio de temperatura",
        "label": "C",
        "format": "{{value}}°C",
        "min": 0,
        "max": "100",
        "colors": [
            "#00e1ff",
            "#00e626",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "242ca94918cd3be2",
        "type": "ui_chart",
        "z": "9d8595cb74f8f60c",
        "name": "Historico",
        "group": "4479d8775dd55870",
        "order": 0,
        "width": "10",
        "height": "8",
        "label": "Historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6cfa50b6e09787c2",
        "type": "comment",
        "z": "9d8595cb74f8f60c",
        "name": "MQTT SUB",
        "info": "# topico\n\n```\niot/temperatura\n```\n",
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "40c0aa6fce605331",
        "type": "mqtt in",
        "z": "9d8595cb74f8f60c",
        "name": "iot/humedad",
        "topic": "iot/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ce773c8e3c9292ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "f189de7db96830f9",
                "242ca94918cd3be2"
            ]
        ]
    },
    {
        "id": "f189de7db96830f9",
        "type": "ui_gauge",
        "z": "9d8595cb74f8f60c",
        "name": "Humedad",
        "group": "63c7445c14467e26",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humedad",
        "label": "",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#d6ff0a",
            "#06fe23",
            "#00abf5"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "a8614bc664537080",
        "type": "comment",
        "z": "9d8595cb74f8f60c",
        "name": "GDS0551",
        "info": "# Jesus Soto Ledezma\n\n# 1222100475",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "ce773c8e3c9292ee",
        "type": "mqtt-broker",
        "name": "Server",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "edm",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "30",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b8d6056200d393c4",
        "type": "MySQLdatabase",
        "name": "Server DB",
        "host": "127.0.0.1",
        "port": "3300",
        "db": "iot_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "867dd81ec87ba19d",
        "type": "ui_group",
        "name": "temperatura",
        "tab": "ae0bf4f143a0d0a8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4479d8775dd55870",
        "type": "ui_group",
        "name": "Historico de datos",
        "tab": "ae0bf4f143a0d0a8",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63c7445c14467e26",
        "type": "ui_group",
        "name": "informacion",
        "tab": "ae0bf4f143a0d0a8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae0bf4f143a0d0a8",
        "type": "ui_tab",
        "name": "iot",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]